.title-theme {
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-family: Orbitron;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    vertical-align: middle;
    text-transform: uppercase;
}