.list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 48px;
}

.list li {
    margin-bottom: 16px;
    border-bottom: 1px solid var(--neutral-header);
    padding-bottom: 16px;
}

.list li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.actions {
    display: flex;
    gap: 8px;
    justify-content: center;
}
