::backdrop {
  background-color: #504d4d;
  opacity: 0.75;
}

.dialog {
  background-color: #1E1E1E;
  border-radius: 16px;
  border: none;
  padding: 16px;
}

.close-btn-wrapper {
  text-align: right;
}

.close-btn{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}